.login-container {
  background-image: url('/assets/img/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensures the div takes up the full viewport height */
  width: 100%;   /* Ensures the div takes up the full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.forgot-password {
  display: block;
  margin-bottom: 16px;
  text-align: right;
}

.header {
  background-color: #ddd;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}