<div class="carousel-container">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let album of albums" class="slide">
        <img [src]="album.cover" (click)="toggleDetails(album.id)" alt="Album Cover">
        <div class="album-info">
          <h3>{{ album.title }}</h3>
          <p>{{ album.artist }}</p>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
  
  <div *ngIf="selectedAlbum" class="album-details">
    <div style="display: flex;justify-content: flex-end;align-items: end;">
        <button class="close-button" (click)="closeDetails()">X</button>
    </div>
    <h2>{{ selectedAlbum.title }}</h2>
    <p>{{ selectedAlbum.artist }}</p>
    <ul>
      <li *ngFor="let track of selectedAlbum.tracks">
        <div class="track-container">
          <img [src]="track.cover" alt="Track Cover" class="track-cover">
          <div class="track-info">
            <span>{{ track.name }}</span>
            <audio controls>
              <source [src]="track.url" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </li>
    </ul>
  </div>