.carousel-container {
    width: 100%;
    max-width:90vw; /* Maximum width set to the viewport width */
    margin: auto;
    text-align: center;
    overflow: hidden; /* Hide overflow to ensure a clean appearance */
  }
  
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll; /* Allow horizontal scrolling */
  }
  
  .carousel .slide {
    padding: 10px;
    cursor: pointer;
    flex: 0 0 auto; /* Prevent flex items from shrinking */
  }
  
  .carousel .slide img {
    width: 100%;
    max-width: 200px; /* Adjust this value to control image size */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .carousel .slide img:hover {
    transform: scale(1.05);
  }
  
  .album-info {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .album-details {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .album-details ul {
    list-style: none;
    padding: 0;
  }
  
  .album-details li {
    margin: 10px 0;
  }
  
  .album-details audio {
    width: 100%;
  }

    
  .track-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .track-cover {
    width: 75px; /* Adjust this value to control image size */
    height: 75px; /* Make sure the cover is a square */
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .track-info {
    flex: 1;
  }
  
  .close-button {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: #FD5C8E;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Ensure the X is centered and visible */
    line-height: 1; /* Ensure text is centered */
  }