<div class="flex flex-col md:flex-row justify-between space-y-8 md:space-y-0 md:space-x-10 p-8 bg-gray-900">
  <!-- Lado Izquierdo -->
  <div class="md:w-1/3 space-y-6 text-white">
    <h1 class="text-2xl font-bold ">Registrar un producto</h1>

    <div class="flex items-center space-x-4">
      <label for="checkbox1" class="text-sm font-medium">Tengo versión en español</label>
      <input type="checkbox" id="checkbox1" (change)="onCheckbox1Change($event)" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
    </div>

    <div class="flex items-center space-x-4">
      <label for="checkbox2" class="text-sm font-medium ">Have English version</label>
      <input type="checkbox" id="checkbox2" (change)="onCheckbox2Change($event)" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
    </div>
  </div>

  <!-- Formulario -->
  <form [formGroup]="basicInfo" (ngSubmit)="onSubmit($event)" class="md:w-2/3 bg-white shadow-md rounded-lg p-8 space-y-6">
    <h2 class="text-xl font-semibold text-gray-900">Basic Product Data</h2>

    <!-- ID Field -->
    <div>
      <label for="id" class="block text-sm font-medium text-gray-700">ID</label>
      <input id="id" formControlName="id" type="text" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" />
    </div>

    <!-- Type of Product Field -->
    <div>
      <label for="typeProduct" class="block text-sm font-medium text-gray-700">Tipo de Producto</label>
      <select id="typeProduct" formControlName="typeProduct" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="book">Book</option>
        <option value="sound-pack">Sample-Pack</option>
      </select>
    </div>

    <!-- Campos Condicionales -->
    <div *ngIf="english === true">
      <label class="block text-sm font-medium text-gray-700">Enter English pitch audio</label>
      <input type="file" class="mt-2 block w-full" (change)="onFileSelected($event, 'pitchEn')" />
    </div>

    <div *ngIf="spanish === true">
      <label class="block text-sm font-medium text-gray-700">Enter Spanish pitch audio</label>
      <input type="file" class="mt-2 block w-full" (change)="onFileSelected($event, 'pitchEs')" />
    </div>

    <div *ngIf="spanish === true">
      <label class="block text-sm font-medium text-gray-700">Enter Spanish preview audio</label>
      <input type="file" class="mt-2 block w-full" (change)="onFileSelected($event, 'previewEs')" />
    </div>

    <div *ngIf="english === true">
      <label class="block text-sm font-medium text-gray-700">Enter English preview audio</label>
      <input type="file" class="mt-2 block w-full" (change)="onFileSelected($event, 'previewEn')" />
    </div>

    <!-- Image URL Field -->
    <label class="block text-sm font-medium text-gray-700">Enter cover image</label>
    <input class="mt-2 block w-full" type="file" (change)="onFileSelected($event, 'image')" />
    <div *ngIf="imageUrl" class="mt-4">
      <p class="text-green-600">Image uploaded successfully!</p>
      <img [src]="imageUrl" alt="Uploaded Image" class="mt-2 w-32 h-32 object-cover rounded-md" />
    </div>
  </form>
</div>


  <!-- AQUI LLENARE EL FORM DE NAME -->
  <div class="space-y-10 p-8 bg-gray-900">
    <!-- Formulario de Nombre -->
    <form [formGroup]="name" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
      <h2 class="text-xl font-semibold text-gray-900">Nombre del Producto</h2>

      <div *ngIf="spanish === true" class="flex flex-col">
        <label for="es" class="mb-2 text-sm font-medium text-gray-700">Nombre en Español</label>
        <input id="es" formControlName="es" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div *ngIf="english === true" class="flex flex-col">
        <label for="en" class="mb-2 text-sm font-medium text-gray-700">Nombre en Inglés</label>
        <input id="en" formControlName="en" type="text" class="px py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
    </form>

    <!-- Formulario de Descripción -->
    <form [formGroup]="description" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
      <h2 class="text-xl font-semibold text-gray-900">Descripción del Producto</h2>

      <div *ngIf="spanish === true" class="flex flex-col">
        <label for="es" class="mb-2 text-sm font-medium text-gray-700">Descripción en Español</label>
        <input id="es" formControlName="es" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div *ngIf="english === true" class="flex flex-col">
        <label for="en" class="mb-2 text-sm font-medium text-gray-700">Descripción en Inglés</label>
        <input id="en" formControlName="en" type="text" class="px py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
    </form>

    <!-- Formulario de Precio -->
    <form [formGroup]="price" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
      <h2 class="text-xl font-semibold text-gray-900">Precio del Producto</h2>

      <div class="flex flex-col">
        <label for="current" class="mb-2 text-sm font-medium text-gray-700">Valor con Descuento</label>
        <input id="current" formControlName="current" type="number" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div class="flex flex-col">
        <label for="original" class="mb-2 text-sm font-medium text-gray-700">Valor Comercial</label>
        <input id="original" formControlName="original" type="number" class="px py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div class="flex flex-col">
        <label for="currency" class="mb-2 text-sm font-medium text-gray-700">Tipo de Moneda</label>
        <input id="currency" formControlName="currency" type="text" class="px py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <div class="flex flex-col">
        <label for="dateOffert" class="mb-2 text-sm font-medium text-gray-700">Fecha Final Oferta</label>
        <input id="dateOffert" formControlName="dateOffert" type="date" class="px py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

    </form>

    <!-- Formulario de Oferta -->
    <form [formGroup]="offert" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
      <h2 class="text-xl font-semibold text-gray-900">Oferta del Producto</h2>

      <div *ngIf="spanish === true" class="flex flex-col">
        <label for="es" class="mb-2 text-sm font-medium text-gray-700">Oferta en Español</label>
        <input id="es" formControlName="es" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div *ngIf="english === true" class="flex flex-col">
        <label for="en" class="mb-2 text-sm font-medium text-gray-700">Oferta en Inglés</label>
        <input id="en" formControlName="en" type="text" class="px py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
    </form>

    <!-- Formulario de Etiqueta del Botón -->
    <form [formGroup]="button_label" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
      <h2 class="text-xl font-semibold text-gray-900">Etiqueta del Botón</h2>

      <div *ngIf="spanish === true" class="flex flex-col">
        <label for="es" class="mb-2 text-sm font-medium text-gray-700">CTA en Español</label>
        <input id="es" formControlName="es" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div *ngIf="english === true" class="flex flex-col">
        <label for="en" class="mb-2 text-sm font-medium text-gray-700">CTA en Inglés</label>
        <input id="en" formControlName="en" type="text" class="px py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div class="flex flex-col">
        <label for="link" class="mb-2 text-sm font-medium text-gray-700">URL de Pago</label>
        <input id="link" formControlName="link" type="text" class="px py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
    </form>
  </div>

  <div class="p-8 bg-gray-900">
    <!-- Formulario de Colores -->
    <form [formGroup]="color" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
      <h2 class="text-xl font-semibold text-gray-900">Selecciona los Colores</h2>

      <!-- Primary Color Field -->
      <div class="flex flex-col">
        <label for="primary" class="mb-2 text-sm font-medium text-gray-700">Primary Color</label>
        <input id="primary" formControlName="primary" type="color" class="w-20 h-10 border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="pick a color" />
      </div>

      <!-- Secondary Color Field -->
      <div class="flex flex-col">
        <label for="secondary" class="mb-2 text-sm font-medium text-gray-700">Secondary Color</label>
        <input id="secondary" formControlName="secondary" type="color" class="w-20 h-10 border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <!-- Tertiary Color Field -->
      <div class="flex flex-col">
        <label for="tertiary" class="mb-2 text-sm font-medium text-gray-700">Tertiary Color</label>
        <input id="tertiary" formControlName="tertiary" type="color" class="w-20 h-10 border-2 border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
    </form>
  </div>

  <!-- AQUI ASIGNARE ca -->
  <!-- Features Form -->
  <!-- Features Form -->


  <div class="space-y-12 p-8 bg-gray-900">
    <!-- Product Features -->
    <div>
      <h2 class="text-2xl font-bold text-gray-900 mb-6">Product Features</h2>
      <form [formGroup]="featuresForm" (ngSubmit)="onSubmit($event)" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
        <div formArrayName="features" class="space-y-6">
          <div *ngFor="let feature of featuresArray.controls; let i = index" [formGroupName]="i" class="space-y-6">
            <div class="flex flex-col" *ngIf="english === true">
              <label  class="font-semibold mb-2">Title (EN):</label>
              <input formControlName="title_en" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter title in English" />
            </div>
            <div class="flex flex-col" *ngIf="spanish === true">
              <label class="font-semibold mb-2">Title (ES):</label>
              <input formControlName="title_es" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter title in Spanish" />
            </div>
            <div class="flex flex-col" *ngIf="english === true">
              <label class="font-semibold mb-2" *ngIf="english === true">Description (EN):</label>
              <textarea formControlName="description_en" rows="3" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter description in English"></textarea>
            </div>
            <div class="flex flex-col" *ngIf="spanish === true">
              <label class="font-semibold mb-2" *ngIf="spanish === true">Description (ES):</label>
              <textarea formControlName="description_es" rows="3" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter description in Spanish"></textarea>
            </div>
            <button type="button" (click)="removeFeature(i)" class="mt-2 px-4 py-2 bg-red-500 text-white rounded-lg">Remove</button>
          </div>
        </div>
        <button type="button" (click)="addFeature()" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Add Feature</button>
      </form>
    </div>

    <!-- Product Benefits -->
    <div>
      <h2 class="text-2xl font-bold text-gray-900 mb-6">Product Benefits</h2>
      <form [formGroup]="benefitsForm" (ngSubmit)="onSubmit($event)" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
        <div formArrayName="benefits" class="space-y-6">
          <div *ngFor="let benefit of benefitsArray.controls; let i = index" [formGroupName]="i" class="space-y-6">
            <div class="flex flex-col" *ngIf="english === true">
              <label class="font-semibold mb-2">Title (EN):</label>
              <input formControlName="title_en" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter title in English" />
            </div>
            <div class="flex flex-col" *ngIf="spanish === true">
              <label class="font-semibold mb-2">Title (ES):</label>
              <input formControlName="title_es" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter title in Spanish" />
            </div>
            <button type="button" (click)="removeBenefit(i)" class="mt-2 px-4 py-2 bg-red-500 text-white rounded-lg">Remove</button>
          </div>
        </div>
        <button type="button" (click)="addBenefit()" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Add Benefit</button>
      </form>
    </div>

    <!-- Product Chapters -->
    <div>
      <h2 class="text-2xl font-bold text-gray-900 mb-6">Product Chapters</h2>
      <form [formGroup]="chaptersForm" (ngSubmit)="onSubmit($event)" class="space-y-6 max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
        <div formArrayName="chapters" class="space-y-6">
          <div *ngFor="let chapter of chaptersArray.controls; let i = index" [formGroupName]="i" class="space-y-6">
            <div class="flex flex-col" *ngIf="english === true">
              <label class="font-semibold mb-2">Title (EN):</label>
              <input formControlName="title_en" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter title in English" />
            </div>
            <div class="flex flex-col" *ngIf="spanish === true">
              <label class="font-semibold mb-2">Title (ES):</label>
              <input formControlName="title_es" type="text" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter title in Spanish" />
            </div>
            <button type="button" (click)="removeChapter(i)" class="mt-2 px-4 py-2 bg-red-500 text-white rounded-lg">Remove</button>
          </div>
        </div>
        <button type="button" (click)="addChapter()" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Add Chapter</button>
        <div class="flex justify-center mt-8">
          <button type="submit" class="px-4 py-2 bg-green-500 text-white rounded-lg">Submit</button>
        </div>
      </form>

    </div>
    <h1 class="text-white">{{test}}</h1>
  </div>





