
<div style="display: flex; justify-content: center;align-items: center;    position: fixed;
top: 0px;
z-index: 999;">
  <app-audio-player></app-audio-player>
</div>
<section class="bg-bgColor" *ngIf="img">
  <section class="bg-bgColor" *ngIf="img">
    <!-- existing content -->
    <!-- existing content -->
  </section>
  <section class="w-full h-screen flex justify-center items-center relative bg-gray">
    <img
      [src]="img.img1"
      alt="img1"
      width="500"
      height="450"
      class="hidden sm:block w-64 h-64 object-cover object-top absolute top-8 left-24 shadow-2xl animate-from-left"
    />
    <img
      [src]="img.img2"
      alt="img2"
      width="500"
      height="450"
      class="hidden sm:block w-64 h-64 object-cover object-top absolute top-62 left-60 shadow-2xl animate-from-left"
    />
    <img
      [src]="img.img3"
      alt="img3"
      width="500"
      height="450"
      class="hidden sm:block w-64 h-64 object-cover object-top absolute bottom-16 left-24 shadow-2xl animate-from-left"
    />
    <img
      [src]="img.img4"
      alt="img4"
      width="500"
      height="450"
      class="hidden sm:block w-64 h-64 object-cover object-top absolute top-8 right-24 shadow-2xl animate-from-right"
    />
    <img
      [src]="img.img5"
      alt="img5"
      width="500"
      height="450"
      class="hidden sm:block w-64 h-64 object-cover object-top absolute top-62 right-60 shadow-2xl animate-from-right"
    />
    <img
      [src]="img.img6"
      alt="img6"
      width="500"
      height="450"
      class="hidden sm:block w-64 h-64 object-cover object-top absolute bottom-16 right-24 shadow-2xl animate-from-right"
    />
    <img
    [src]="img.logo"
    alt="Elevated Tech"
    width="350"
    height="350"
    class="w-60 h-60 animate-fade-in"
    (click)="closeQrCodePopup()"
    />
  </section>
  <app-wave-component class="wave-component-top"></app-wave-component>
  <section class="py-3" style="    position: relative;
  top: -140px;">
    <div class="container mx-auto">
      <div class="flex flex-col md:flex-row">
        <aside class="w-full md:w-1/2">
          <div class="px-5">
            <h2 class="text-white font-thin text-4xl">
              AI-Music-Djs Sound Pack
            </h2>
            <!-- <img
            [src]="img.img3"
            alt="img3"
            width="500"
            height="450"
            class="w-full h-auto my-10"
          /> -->
            <!-- <img
              [src]="img.img1"
              alt="img1"
              width="500"
              height="450"
              class="w-full h-auto my-10"
            /> -->
            <img
              [src]="img.img2"
              alt="img2"
              width="500"
              height="450"
              class="w-full h-auto my-10"
            />
            
          </div>
        </aside>
        <aside class="w-full md:w-1/2">
          <div class="px-5">
         
            <img
              [src]="img.img4"
              alt="img4"
              width="500"
              height="450"
              class="w-full h-auto my-10"
            />
            <!-- <img
              [src]="img.img5"
              alt="img3"
              width="500"
              height="450"
              class="w-full h-auto my-10"
            /> -->
            <!-- <img
            [src]="img.img6"
            alt="img4"
            width="500"
            height="450"
            class="w-full h-auto my-10"
          /> -->
          <!-- <img
            [src]="img.img7"
            alt="img4"
            width="500"
            height="450"
            class="w-full h-auto my-10"
          /> -->
          </div>
        </aside>
      </div>
    </div>
    <app-iframe-sound-cloud style="z-index: 99999;"></app-iframe-sound-cloud>
    <!-- <app-wave-component class="wave-component"></app-wave-component> -->
  </section>

  <!-- <section class="py-3">
    <h2 class="text-center text-white text-5xl font-thin mb-10">
      Discography Layouts
      <br />
      <small class="text-xl">Present Your Albums</small>
    </h2>
    <div class="flex justify-center gap-6 overflow-x-hidden">
      <img
        [src]="img.img1"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
      <img
        [src]="img.img2"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
      <img
        [src]="img.img3"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
      <img
        [src]="img.img4"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
      <img
        [src]="img.img5"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
    </div>
  </section> -->
  <!-- <section class="py-10">
    <div class="flex flex-col md:flex-row items-center">
      <aside class="w-full md:w-1/2 lg:w-3/5">
        <img
          [src]="img.img1"
          alt="img1"
          width="800"
          height="550"
          class="w-full h-[500px] object-cover object-top"
        />
      </aside>
      <aside class="w-full md:w-1/2 lg:w-2/5">
        <div class="px-10 mt-10 md:mt-0">
          <h2 class="text-white font-thin text-4xl mb-5">
            For Upcoming Tours and Events
          </h2>
          <p class="text-white text-opacity-80">
            Get your fans hyped for every performance! Rawtracks comes with a
            fantastic collection fo event list & single layouts you can use to
            inform your audience of upcoming shows & festivals.
          </p>
          <a
            href=""
            class="bg-white bg-opacity-20 text-white py-2 px-8 mt-5 inline-block font-normal rounded hover:bg-opacity-80 hover:text-bgColor transition"
          >
            View More
          </a>
        </div>
      </aside>
    </div>
  </section> -->
  <section class="py-3" style="    position: relative;
  top: -123px;" >
    <h2 class="text-center text-white text-5xl font-thin mb-10">
      Embed Your Music
      <br />
      <small class="text-xl">Easily Feature Tracks</small>
    </h2>
    <div class="flex justify-center gap-6 overflow-x-hidden">
      <img
        [src]="img.img1"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
      <img
        [src]="img.img2"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
      <img
        [src]="img.img3"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
      <img
        [src]="img.img4"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
      <img
        [src]="img.img5"
        alt="img1"
        width="500"
        height="450"
        class="w-80 h-60 object-cover object-top"
      />
    </div>
  </section>
  <!-- <section class="py-10">
    <div class="flex flex-col md:flex-row items-center">
      <aside class="w-full md:w-1/2 lg:w-2/5">
        <div class="px-10 mb-10 md:mb-0">
          <h2 class="text-white font-thin text-4xl mb-5">Music Blog</h2>
          <p class="text-white text-opacity-80">
            Get your fans hyped for every performance! Rawtracks comes with a
            fantastic collection fo event list & single layouts you can use to
            inform your audience of upcoming shows & festivals.
          </p>
          <a
            href=""
            class="bg-white bg-opacity-20 text-white py-2 px-8 mt-5 inline-block font-normal rounded hover:bg-opacity-80 hover:text-bgColor transition"
          >
            View More
          </a>
        </div>
      </aside>
      <aside class="w-full md:w-1/2 lg:w-3/5">
        <img
          [src]="img.img2"
          alt="img1"
          width="500"
          height="450"
          class="w-full h-[500px] object-cover object-top"
        />
      </aside>
    </div>
  </section> -->
  <section>
    <h2 class="text-center text-white text-5xl font-thin mb-10">
      Discography
      <br />
      <small class="text-xl">AI-DJ Albums</small>
    </h2>
    <app-discography></app-discography>
  </section>
  <!-- <section class="py-3" >
    <div class="flex flex-col md:flex-row items-center">
      <aside class="w-full md:w-1/2 lg:w-3/5">
        <img
          [src]="img.img3"
          alt="img1"
          width="500"
          height="450"
          class="w-full h-[500px] object-cover object-top"
        />
      </aside>
      <aside class="w-full md:w-1/2 lg:w-2/5">
        <div class="px-10 mt-10 md:mt-0">
          <h2 class="text-white font-thin text-4xl mb-5">
            Your Full-Blown Music Store is Here
          </h2>
          <p class="text-white text-opacity-80">
            Get your fans hyped for every performance! Rawtracks comes with a
            fantastic collection fo event list & single layouts you can use to
            inform your audience of upcoming shows & festivals.
          </p>
          <a
            href=""
            class="bg-white bg-opacity-20 text-white py-2 px-8 mt-5 inline-block font-normal rounded hover:bg-opacity-80 hover:text-bgColor transition"
          >
            View More
          </a>
        </div>
      </aside>
    </div>
  </section> -->
  <app-wave-component class="wave-component-bottom"></app-wave-component>
  <section class="py-3" >
    <video
      [src]="img.vid"
      class="w-full h-96 object-cover object-center"
      autoPlay
      loop
      muted
      playsinline
      #videoPlayer
    ></video>
    <br>
    <div class="flex  justify-center flex-col text-center items-center" (click)="openCorpwebsite()">
      <button class="text-center font-medium text-white text-2xl bg-transparent hover:bg-blue-500 text-blue font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent  max-w-xs  rounded">
        go-elevate-tech-ai
      </button>
     <div>
      <small class="text-base font-thin text-white"> &copy; 2024 - Copyrights </small>
     </div>
    </div>
    <!-- <app-wave-component class="wave-component" style="padding-top: 100px;"></app-wave-component> -->
  </section>
</section>
  <app-qr-code-popup-component style="width: 60%;" (closePopup)="onQrCodeClose()" *ngIf="showQrCode" [url]="websiteUrl"></app-qr-code-popup-component>
<!-- <app-raw-spinner></app-raw-spinner> -->
