<div [ngClass]="{'hide-audio-player-container': showOrHideControls, 'show-audio-player-container': !showOrHideControls}" class="audio-player-container" [class.hidden]="isHidden">
  <div class="audio-player">
    <select (change)="selectTrack($event)">
      <option *ngFor="let track of tracks" [value]="track">{{ track.split('/').pop() }}</option>
    </select>
    <div class="outer-knob">
      <div class="inner-knob"
           (mousedown)="startAdjustment($event, 'high')"
           (touchstart)="startAdjustment($event, 'high')"
           (dblclick)="resetKnob('high')"
           (dbltap)="resetKnob('high')"
           [style.transform]="highKnobStyle">
      </div>
      <div style="display: flex; justify-content: center; color: white;">
        <p>HI</p>
      </div>
    </div>
    <div class="outer-knob">
      <div class="inner-knob"
           (mousedown)="startAdjustment($event, 'mid')"
           (touchstart)="startAdjustment($event, 'mid')"
           (dblclick)="resetKnob('mid')"
           (dbltap)="resetKnob('mid')"
           [style.transform]="midKnobStyle">
      </div>
      <div style="display: flex; justify-content: center; color: white;">
        <p>MID</p>
      </div>
    </div>
    <div class="outer-knob">
      <div class="inner-knob"
           (mousedown)="startAdjustment($event, 'low')"
           (touchstart)="startAdjustment($event, 'low')"
           (dblclick)="resetKnob('low')"
           (dbltap)="resetKnob('low')"
           [style.transform]="lowKnobStyle">
      </div>
      <div style="display: flex; justify-content: center; color: white;">
        <p>LOW</p>
      </div>
    </div>
    <div class="outer-knob">
      <div class="inner-knob"
           (mousedown)="startAdjustment($event, 'volume')"
           (touchstart)="startAdjustment($event, 'volume')"
           (dblclick)="resetKnob('volume')"
           (dbltap)="resetKnob('volume')"
           [style.transform]="volumeKnobStyle">
      </div>
      <div style="display: flex; justify-content: center; color: white;">
        <p>VOL</p>
      </div>
    </div>
  </div>
  <button (click)="togglePlay()" class="play-button">{{ isPlaying ? 'Pause' : 'Play' }}</button>
  <button (click)="toggleHideOrShowControls()" [ngClass]="{'hidden-arrow-button': showOrHideControls, 'playing-arrow-button': !showOrHideControls}">
    {{ showOrHideControls ? '<' : '>' }}
  </button>
</div>