<div [ngClass]="{'hide-audio-player-container': showOrHideControls, 'show-audio-player-container': !showOrHideControls}" class="audio-player-container" [class.hidden]="isHidden">
  <div class="audio-player">
    <div class="outer-knob">
      <div class="inner-knob" (mousedown)="startAdjustment($event, 'high')" (touchstart)="startAdjustment($event, 'high')" [style.transform]="highKnobStyle">
      </div>
     <div style="display: flex;justify-content: center;color: white;">
      <p>HI</p>
     </div>
    </div>
    <div class="outer-knob">
      <div class="inner-knob" (mousedown)="startAdjustment($event, 'mid')" (touchstart)="startAdjustment($event, 'mid')" [style.transform]="midKnobStyle">
      </div>
      <div style="display: flex;justify-content: center;color: white;">
        <p>MID</p>
       </div>
    </div>
    <div class="outer-knob">
      <div class="inner-knob" (mousedown)="startAdjustment($event, 'low')" (touchstart)="startAdjustment($event, 'low')" [style.transform]="lowKnobStyle">
      </div>
      <div style="display: flex;justify-content: center;color: white;">
        <p>LOW</p>
       </div>
    </div>
    <div class="outer-knob">
      <div class="inner-knob" (mousedown)="startAdjustment($event, 'volume')" (touchstart)="startAdjustment($event, 'volume')" [style.transform]="volumeKnobStyle">
      </div>
      <div style="display: flex;justify-content: center;color: white;">
        <p>VOL</p>
       </div>
    </div>
  </div>
  <button (click)="togglePlay()" class="play-button">{{ isPlaying ? 'Pause' : 'Play' }}</button>
  <button (click)="toggleHideOrShowControls()" [ngClass]="{'hidden-arrow-button': showOrHideControls, 'playing-arrow-button': !showOrHideControls}">{{ showOrHideControls ? '<' : '>' }}</button>
</div>