.sound-waves-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  audio {
    margin-bottom: 10px;
  }
  
  canvas {
    border: 1px solid #000;
  }

  .wave {
    width: 5px;
    height: 100px;
    display: inline-block;
    margin-right: 2px;
  }
  
  .low-frequency {
    background-color: blue;
  }
  
  .mid-frequency {
    background-color: green;
  
  }
  
  .high-frequency {
    background-color: red;
  }