<div class="container">
    <div class="flex items-center justify-between mb-4 column-layout">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select a Name</mat-label>
        <mat-select (selectionChange)="onNameSelected($event.value)">
          <mat-option *ngFor="let name of names" [value]="name.url">
            {{ name.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <div *ngIf="selectedName" class="selected-name">
        <p>You selected: {{ selectedName }}</p>
      </div>
    </div>
  
    <div class="qr-code-container" *ngIf="showQrCode">
      <app-qr-code-popup-component 
        style="width: 60%;" 
        (closePopup)="onQrCodeClose()" 
        [url]="websiteUrl">
      </app-qr-code-popup-component>
    </div>
  </div>