<header class="header">
    <div class="container">
      <img src="/assets/img/logo.png" alt="Logo" class="logo">
    </div>
  </header>
  
  <div class="main-banner-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="main-banner-content">
            <h1>Unlock Your Real Estate Potential</h1>
            <ul>
              <li><b>Comprehensive Coverage:</b> Over 400 practice questions specifically designed for the Florida real
                estate exam.</li>
              <li><b>Expert Guidance:</b> Insights and tips from industry professionals to help you succeed.</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="banner-image">
            <img src="assets/img/book_3d.jpg" alt="Book Image" class="book-image animate__animated animate__fadeIn">
          </div>
        </div>
      </div>
      <div class="buttons">
        <button (click)="login()" mat-raised-button>LOGIN</button>
        <button (click)="buyNowButton()" class="buy">Buy now</button>
        <button (click)="togglePlayPause()" id="listen-sample" class="buy listen">
          <span class="material-icons">{{ isPlaying ? 'pause' : 'play_arrow' }}</span> Listen Sample
        </button>
        <audio #audioPlayer (timeupdate)="updateProgress()" (loadedmetadata)="setDuration()" src="assets/sound/wav/intro.wav"></audio>
  
        <div #timeline class="timeline" (click)="seek($event)">
          <div #progress class="progress"></div>
        </div>
  
      </div>
    </div>
  </div>