<app-header></app-header>
<section class="relative">
  <img src="/assets/images/png final.png" class="w-full h-auto" />
  <div
    class="absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center"
  >
    <div class="container mx-auto px-5">
      <h1 class="text-6xl font-bold text-yellow">
        <span class="text-white text-4xl">FLAT</span><br />
        50% OFF
      </h1>
      <h2 class="uppercase text-white text-2xl font-medium mb-4">
        On Sunglasses
      </h2>
      <a
        href=""
        class="bg-white uppercase font-bold text-black px-6 py-2 inline-block rounded-md"
        >Shop Now</a
      >
    </div>
  </div>
</section>
<section class="py-24">
  <div class="container mx-auto px-4">
    <h2 class="text-center font-abel text-5xl font-bold mb-2 text-black">
      Latest Collection
    </h2>
    <h3
      class="text-center uppercase text-lg font-normal text-black text-opacity-60"
    >
      Where Royal has a Meaning
    </h3>

    <div class="flex justify-center mt-8 w-full ">

      <!-- <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-5">
        <app-product-tab></app-product-tab>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-5 hidden sm:block">
        <app-product-tab></app-product-tab>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-5 hidden md:block">
        <app-product-tab></app-product-tab>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-5 hidden lg:block">
        <app-product-tab></app-product-tab>
      </div> -->
      <app-audio-book-library></app-audio-book-library>
    </div>
  </div>
</section>
<section class="flex flex-col xl:flex-row">
  <aside
    class="w-full xl:w-1/2 h-[450px] lg:h-[650px] bg-wCollection bg-cover bg-right-top bg-no-repeat"
  >
    <div class="px-12 py-32">
      <h2 class="font-bold text-4xl lg:text-7xl uppercase text-black">
        Women<br />Sunglasses
      </h2>
    </div>
  </aside>
  <aside
    class="w-full xl:w-1/2 h-[450px] lg:h-[650px] bg-mCollection bg-cover bg-left-top bg-no-repeat"
  >
    <div class="px-12 py-32">
      <h2
        class="font-bold text-4xl lg:text-7xl uppercase text-right text-black"
      >
        Mens<br />Collections
      </h2>
    </div>
  </aside>
</section>
<section class="py-24">
  <div class="container mx-auto px-4">
    <h2 class="text-center font-abel text-5xl font-bold mb-2 text-black">
      New Arrivals
    </h2>
    <h3
      class="text-center uppercase text-lg font-normal text-black text-opacity-60"
    >
      Where Royal has a Meaning
    </h3>
    <div class="flex flex-wrap">
      <aside class="w-full md:w-1/2 xl:w-1/3 p-5">
        <h3
          class="font-abel text-black text-2xl font-bold bg-black bg-opacity-10 px-4 py-2"
        >
          Best Seller
        </h3>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
      </aside>
      <aside class="w-full md:w-1/2 xl:w-1/3 p-5">
        <h3
          class="font-abel text-black text-2xl font-bold bg-black bg-opacity-10 px-4 py-2"
        >
          Demand
        </h3>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
      </aside>
      <aside class="w-full xl:w-1/3 p-5">
        <h3
          class="font-abel text-black text-2xl font-bold bg-black bg-opacity-10 px-4 py-2"
        >
          Featured
        </h3>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
        <app-product-list></app-product-list>
      </aside>
    </div>
  </div>
</section>
<section class="py-24">
  <div class="container mx-auto px-4">
    <h2 class="text-center font-abel text-5xl font-bold mb-2 text-black">
      Only The Best for You
    </h2>
    <h3
      class="text-center uppercase text-lg font-normal text-black text-opacity-60"
    >
      Special Sunglass Collection
    </h3>
    <div class="flex items-center flex-wrap mt-16">
      <aside class="w-full lg:w-1/3 text-left lg:text-right">
        <h3 class="font-abel text-black text-xl font-bold">
          <span class="text-blue">01</span> Fashion Development
        </h3>
        <p class="text-black text-opacity-60 mt-3">
          The best contact you will get here lorem ipsum dolor sit ame
        </p>

        <h3 class="font-abel text-black text-xl font-bold mt-8">
          <span class="text-blue">02</span> Stylish Frames
        </h3>
        <p class="text-black text-opacity-60 mt-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        </p>

        <h3 class="font-abel text-black text-xl font-bold mt-8">
          <span class="text-blue">03</span> UV Protection Glass
        </h3>
        <p class="text-black text-opacity-60 mt-3">
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        </p>
      </aside>
      <aside class="w-full lg:w-1/3 my-4 lg:my-0 flex justify-center">
        <img
          src="/assets/images/girl.webp"
          alt="girl"
          class="w-full max-w-60 h-auto"
        />
      </aside>
      <aside class="w-full lg:w-1/3">
        <h3 class="font-abel text-black text-xl font-bold">
          <span class="text-blue">04</span> Sunglasses
        </h3>
        <p class="text-black text-opacity-60 mt-3">
          The best contact you will get here lorem ipsum dolor sit ame
        </p>

        <h3 class="font-abel text-black text-xl font-bold mt-8">
          <span class="text-blue">05</span> Mirrors Lens
        </h3>
        <p class="text-black text-opacity-60 mt-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        </p>

        <h3 class="font-abel text-black text-xl font-bold mt-8">
          <span class="text-blue">06</span> Fashion Glasses
        </h3>
        <p class="text-black text-opacity-60 mt-3">
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        </p>
      </aside>
    </div>
  </div>
</section>
<section class="py-20 bg-gray">
  <div class="container mx-auto px-4 flex flex-wrap justify-between">
    <aside class="w-full md:w-1/2 lg:w-1/3">
      <div class="px-10">
        <h3 class="text-center font-bold text-2xl mb-2 text-black">
          Free Delivery
        </h3>
        <p class="text-center font-light text-lg text-black">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          necessitatibus, eveniet consectetur sunt iure libero.
        </p>
      </div>
    </aside>
    <aside class="w-full md:w-1/2 lg:w-1/3 my-8 md:my-0">
      <div class="px-10">
        <h3 class="text-center font-bold text-2xl mb-2 text-black">
          24/7 Customer Support
        </h3>
        <p class="text-center font-light text-lg text-black">
          Delectus aperiam eius voluptas omnis laudantium voluptatibus ullam
          iusto reprehenderit quasi similique reiciendis eos nam.
        </p>
      </div>
    </aside>
    <aside class="w-full lg:w-1/3 mt-0 md:mt-8 lg:mt-0">
      <div class="px-10">
        <h3 class="text-center font-bold text-2xl mb-2 text-black">
          Return of Goods
        </h3>
        <p class="text-center font-light text-lg text-black">
          Sapiente necessitatibus, eveniet consectetur sunt iure libero delectus
          aperiam eius voluptas omnis laudantium voluptatibus.
        </p>
      </div>
    </aside>
  </div>
</section>
<section class="py-24">
  <div class="container mx-auto px-4">
    <h2 class="text-center font-abel text-5xl font-bold mb-2 text-black">
      From Our Blog
    </h2>
    <h3
      class="text-center uppercase text-lg font-normal text-black text-opacity-60"
    >
      The Best Oriental Hotel
    </h3>
    <div class="flex gap-4 mt-10">
      <div class="w-full md:w-1/2 lg:w-2/6">
        <app-blog-tab></app-blog-tab>
      </div>
      <div class="w-full md:w-1/2 lg:w-2/6 hidden md:block">
        <app-blog-tab></app-blog-tab>
      </div>
      <div class="w-full lg:w-2/6 hidden lg:block">
        <app-blog-tab></app-blog-tab>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
