<header class="header">
  <div class="container">
    <img src="assets/img/logo.png" alt="Logo" class="logo">
  </div>
</header>

<div class="main-banner-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="main-banner-content">
          <h1>Unlock Your Real Estate Potential</h1>
          <ul>
            <li><b>Comprehensive Coverage:</b> Over 400 practice questions specifically designed for the Florida real
              estate exam.</li>
            <li><b>Expert Guidance:</b> Insights and tips from industry professionals to help you succeed.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="banner-image">
          <img src="assets/img/book_3d.jpg" alt="Book Image" class="book-image animate__animated animate__fadeIn">
        </div>
      </div>
    </div>
    <div class="buttons">
      <div *ngIf="studyMaterial" class="speed-button">
        <a [href]="studyMaterialUrl" download="StudyMaterial.zip">
          <button mat-raised-button color="primary">
            <span class="study-material">STUDY MATERIAL</span>
          </button>
        </a>
      </div>
      <div class="speed-controls">
       
        <div class="speed-button">
          <span>Speed </span><span class="speed-display">{{playbackRate | number:'1.1-1'}}x</span>
        </div>
        <div class="control-buttons">
          <button class="control-button" (click)="decreaseSpeed()">-</button>
          <input type="range" min="0.5" max="2.0" step="0.1" [(ngModel)]="playbackRate" (change)="updateSpeed()">

          <button class="control-button" (click)="increaseSpeed()">+</button>
        </div>
      </div>

      <div class="dropdown" [class.open]="isDropdownOpen">
        <button class="dropdown-toggle buy" type="button" (click)="toggleDropdown()">
          Select Audio
        </button>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <a class="dropdown-item" *ngFor="let audio of audioOptions" (click)="setAudioSource(audio)">
            {{ audio.name }}
          </a>
        </div>
      </div>
      <button (click)="togglePlayPause()" id="listen-sample" class="buy listen">
        <span class="material-icons">{{ isPlaying ? 'pause' : 'play_arrow' }}</span> {{selectedAudio.name}}

      </button>
      <audio #audioPlayer (timeupdate)="updateProgress()" (loadedmetadata)="setDuration()" [src]="audioSrc"></audio>

      <div class="progress-container">
        <span class="current-time">{{ formatTime(currentTime) }}</span> 
        <div #timeline class="timeline" (click)="seek($event)">
          <div #progress class="progress"></div>
        </div>
        <span class="remaining-time">{{ formatTime(remainingTime) }}</span> 
      </div>

    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loader"></div>