<div class="max-w-xs rounded-lg overflow-hidden shadow-lg bg-white">
  <div class="relative">
    <img class="w-full h-48 object-cover" [src]="bookInfo.bookImagePath" alt="{{ bookInfo.bookTitle }}">
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="flex items-center justify-center h-screen ">
        <button 
          (click)="togglePlay()" 
          class="w-16 h-16 bg-blue-500 text-white rounded-full flex items-center justify-center focus:outline-none">
          <svg 
            *ngIf="!isPlaying" 
            xmlns="http://www.w3.org/2000/svg" 
            class="h-8 w-8" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor" 
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.752 11.168l-6.518 3.845A1 1 0 017 14.118V9.882a1 1 0 011.234-.97l6.518 3.845a1 1 0 010 1.736z" />
          </svg>
          <svg 
            *ngIf="isPlaying" 
            xmlns="http://www.w3.org/2000/svg" 
            class="h-8 w-8" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor" 
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 9v6m4-6v6m5-6.378C19 5.79 17.21 4 15.128 4H8.872C6.79 4 5 5.79 5 7.872v8.256C5 18.21 6.79 20 8.872 20h6.256C17.21 20 19 18.21 19 16.128V7.872z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="p-4">
    <div class="flex items-center mb-2">
      <div class="flex text-yellow">
        <!-- Mostrar estrellas basadas en el promedio ponderado -->
        <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
          <svg *ngIf="i <= averageRating" class="w-5 h-5 fill-current" viewBox="0 0 24 24">
            <path d="M12 17.27l6.18 3.73-1.64-7.03 5.46-4.73-7.1-.61L12 2.5 8.1 8.63l-7.1.61 5.46 4.73-1.64 7.03L12 17.27z"/>
          </svg>
          <svg *ngIf="i > averageRating" class="w-5 h-5 fill-current text-gray-300" viewBox="0 0 24 24">
            <path d="M12 17.27l6.18 3.73-1.64-7.03 5.46-4.73-7.1-.61L12 2.5 8.1 8.63l-7.1.61 5.46 4.73-1.64 7.03L12 17.27z"/>
          </svg>
        </ng-container>
      </div>
    </div>
    <h3 class="text-xl font-semibold mb-1">{{ bookInfo.bookTitle }}</h3>

    <p class="text-lg font-bold text-blue-600">{{ bookInfo.bookPromotion }}</p>
    <!-- Botón de Detalles -->
    <div class="mt-4">
      <a (click)="viewDetails()" class="inline-block text-black px-4 py-2 bg-blue font-semibold rounded-lg shadow-md hover:bg-blue-700">Details</a>
    </div>
  </div>
</div>







