<div>
    <!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:3067940246. -->
  
    
    <div class="flex flex-wrap justify-center gap-6 p-4 bg-gray-100">
      <div *ngIf="this.aiStore.selectedBookDetailStatus() === true">
        <app-audio-book-detail [bookInfoDetails]="this.aiStore.selectedBookDetail()"></app-audio-book-detail>
    
    </div>
        <div *ngFor="let book of aiStore.books().books" class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4">
          <app-audio-book-card [bookInfo]="book"></app-audio-book-card>
        </div>
      </div>
    </div>

